@keyframes contentpop {
    0% {
        opacity: 0;
        transform: translate(0%, 100%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, -50%);
    }
}

@keyframes opacity_anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dim {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(130,52,90,0.35);

    animation-name: opacity_anim;
    animation-duration: 2.25s;
    animation-fill-mode: forwards;    
}
.visitor_header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    opacity: 1;
    background: linear-gradient(to bottom, rgba(253, 212, 212,0.7) 0%, rgba(234, 115, 166,0) 20%);
}

.visitor_container {
    width: 100%;
    height: 75vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}

.visitor_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    bottom: 0;
    padding-bottom: 5vh;
    background: linear-gradient(to bottom, rgba(234, 115, 166,0) 0%, rgba(253, 212, 212,0.7) 40%);
    left: 0;
    position: fixed;
    opacity: 0;
    animation: opacity_anim 2.25s forwards;
    animation-delay: 0.5s;
}

.visitor_input{
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
}

#visitor_input {
    max-width: 512px;
    width: 65vw;
    height: 2rem;
    color: rgb(126, 32, 72);
    padding: 1rem;
    border: 0.5rem solid #c58;
    background-color: white;
    border-radius: 3rem;
    font-size: 1rem;
    z-index: 2;
    text-align: center;
}
#visitor_submit{
    margin: 0.5rem;
    text-align: center;
    padding: 0.5rem;
}

#visitor_input::placeholder {
    color: rgb(121, 82, 99);
}

#visitor_input:focus {
    outline: none;
    border: 0.35rem solid #e7a;
    box-shadow: 0 0 3rem rgba(255, 225, 237, 0.5);
    max-width: 600px;
    width: 80vw;
    height: 3rem;
    transition: all 0.5s ease-in-out;
}

.visitor_comment_header{
    height:30vh;
}
.visitor_comment_greeting{
    margin-bottom: 3rem;
    text-shadow: 0 0 0.5rem rgba(195, 95, 125, 1);
}

#visitor_comment_container{
    font-family: "GowunBatang-Regular";
    width: 100%;
    overflow-y: auto;
    scrollbar-color: rgba(234, 115, 166, 0.3) rgba(253, 212, 212, 0.2);
}


.visitor_comment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: center;
}
.rolling_container{
    width: 100%;
    height: 100vh;
    align-items: center;
    color:white;
    text-align: center;
}

.visitors_content {
    text-align: center;

    animation-name: contentpop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;   
    transition: all 0.5s ease-in-out;

    padding: 1rem;
    margin: 1rem;
    color:rgb(219, 216, 216);
    border-radius: 3px;
    font-size:0.9rem;
    filter: blur(2px);
    max-width: 65vw;
    z-index: 1;
    /* text overflow controll */
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}

.visitors_content_highlight{
    text-align: center;
    animation-name: contentpop;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;   
    transition: all 0.5s ease-in-out;
    padding: 1rem;
    margin: 1rem;
    color:white;
    font-weight: bold;
    text-shadow: 0 0 0.5rem rgba(195, 95, 125, 1);
    border-radius: 3px;
    font-size:0.9rem;
    filter: blur(0px);
    max-width: 65vw;
    z-index: 3;

    /* text overflow controll */
    /* overflow: hidden;
    text-overflow:unset;
    white-space:unset; */
}

#visitor_writer{
    border: none;
    color: #e8a;
    background-color: transparent;
    border-bottom: 1px solid #c58;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 1.25rem;
    font-weight: normal;
    margin: 1rem;
    padding: 0.25rem;
    transition: all 0.5s ease-in-out;
}
#visitor_writer::placeholder{
    color: white;
}
#visitor_writer:focus::placeholder{
    color: #e8a;
}
#visitor_writer:focus{
    outline: none;
    color: #fbd;
    border: none;
    font-weight: bold;
    background: transparent;
    border-bottom: 3px solid #f9b;
    transition: all 0.5s ease-in-out;
    padding: 0.25rem 2rem;
}